/* src/main.css 
    
    Este arquivo deve apenas conter as diretivas do Tailwind. 
    O próprio Tailwind irá gerar todo o CSS de utilidade com base nos seus arquivos JSX.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;